
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --board-grid-color: lightgrey;
        --cell-border: #333333;
        --ship-color: #65a0ec;
    }

}

main {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.invisible {
    visibility: hidden;
}

.gone {
    display: none;
}

.in-between {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 5vh;
}

.players-board,
.opp-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* gap: 2px; */
    background-color: var(--board-grid-color);
    justify-content: center;
}

.grid-cell {
    background-color: --board-grid-color;
    border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.grid-button {
    height: 40px;
    cursor: pointer;
}

.highlight {
    background-color: salmon;
}

.preview {
    transform: scale(0.95);
    background-color: salmon;
}

.less-opacity {
    opacity: 0.3;
}