
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --board-grid-color: lightgrey;
        --cell-border: #333333;
        --ship-color: #65a0ec;
        --carrier-color: salmon;
        --battleship-color: lightskyblue;
        --cruiser-color: gold;
        --destroyer-color: blueviolet;
        --patrol-color: orange;
    }

}

main {
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.draggableShipsContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div #carrier,
div #battleship,
div #cruiser,
div #destroyer,
div #patrol {
    width: clamp(75px, 1vw + 1rem, 250px);
    background-color: var(--carrier-color);
    height: auto;
    border: none;
    border-radius: 8px;
    padding: 4px;
}

div #battleship {
    background-color: var(--battleship-color);
}

div #cruiser {
    background-color: var(--cruiser-color);
}

div #destroyer {
    background-color: var(--destroyer-color);
}

div #patrol {
    background-color: var(--patrol-color);
}

.invisible {
    visibility: hidden;
}

.gone {
    display: none;
}

.in-between {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 5vh;
}

.players-board,
.opp-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /* gap: 2px; */
    background-color: var(--bg-color);
    justify-content: center;
}

.grid-cell {
    background-color: var(--board-grid-color);
    border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 8px;
}

.grid-button {
    height: 40px;
    cursor: pointer;
}

.highlight {
    /* background-color: gold; */
}

.preview {
    transform: scale(0.95);
    /* background-color: lightskyblue; */
}

.less-opacity {
    opacity: 0.3;
}